body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(171, 158, 158);
}

.restaurantName {
    text-align: center;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-size: 100px;
    font-style: normal;
}
button{
    width: 100px;
}
nav{
    display: flex;
    margin-top:10px;
    gap:30px;  
}
#content{
    margin-top: 50px;
}